<div>
  <div class="call-box-bottom">
    {{ if .Site.Params.showPricing }}
    <a class="button button-primary button-highlighted" href="https://multiplatformkickstarter.lemonsqueezy.com/checkout/buy/1310894e-e1ff-4071-84c3-7c230c8af878" target="_blank" rel="noopener noreferrer">STARTER PACK FOR ONLY {{ 99 | lang.FormatCurrency 2 "USD" }}</a>
    {{end}}
    <a class="button button-secondary" href="https://github.com/MultiplatformKickstarter/adoptme" target="_blank" rel="noopener noreferrer">DOWNLOAD FREE TEMPLATE</a>
  </div>
</div>
